[submodule "astronvim_config"]
	path = astronvim_config
	url = git@github.com:Coborax/astronvim_config.git
[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
[submodule "spicetify"]
	path = spicetify
	url = https://github.com/catppuccin/spicetify
